<%-    include('./partials/header.ejs')                    %>
<body>
    <%- include ('./partials/nav.ejs')%>
    <h3><%= myMsg %></h3>
    <h1 id="dbd"> Dashboard</h1>
    <h2 id="context"> Driving Test Booking Kiosk</h2>
    <%-  include('./partials/footer.ejs')   %>
</body>
</html>